<div>
  <a href="/rps_game">Play!</a>
</div>

<ol>
  <% @results.each do |result| %>
    <li>
    <p>Result: <%= if result.won?
                     "Win"
                   elsif result.tied?
                     "Tie"
                   else
                     "Lose"
                   end
               %>
      <p>Human: <%= result.play %></p>
      <p>Computer: <%= result.computer_play %></p>
      <hr />
    </li>
  <% end %>
 </ol>
