<div>
  <a href="/rps_game">Play Again!</a>
</div>
<div>
  <a href="/rps_game_results">See Results</a>
</div>

<h1>Game at <%= @result.created_at %></h1>

<p>You threw <%= @result.play %>!</p>
<p>The computer threw <%= @result.computer_play %>!</p>

<p>
  You <% if @result.won? %>
        win!
      <% elsif @result.tied? %>
        tie!
      <% else %>
        lose!
      <% end %>
</p>
