<h1>WELCOME TO ROCK PAPER SCISSORS</h1>

<p>You threw <%= @game.play %>!</p>
<p>The computer threw <%= @game.computer_play %>!</p>

<p>
  You <% if @game.won? %>
        win!
      <% elsif @game.tied? %>
        tie!
      <% elsif @game.lost? %>
        lose!
      <% end %>
</p>
